# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env
venv/
*.log

# IDE files
.vscode/
.idea/
*.iml
*.ipr
*.iws
*.bak

# Other
*.DS_Store
*.bak
*.swp